body{
  /*code from http://www.w3schools.com/cssref/pr_background-image.asp */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2f/Space_Needle002.jpg);
  background-color: #cccccc; /*gray*/
  background-size: cover;
}
/*ul/li navigation bar code from http://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_float_advanced*/
ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
h1 {
  text-align: center;
  color: #FFFFFF; /*white*/
  font-family: Times New Roman;
  font-weight: lighter;
  font-style: oblique;
  font-size: 4vw; /* viewport code from https://css-tricks.com/viewport-sized-typography/*/
}
a {
  color: #FFFFFF; /*white*/
  text-decoration: none;
  font-family: Times New Roman;
  font-size: 1.8vw;
  padding: 0 20px;
}
